.FooterContainer {
    background: #1B1818;
}

.BottomFooter {
    height: 70px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 60px;
    margin-right: 60px;
    border-top: #504c4c 1px solid;
    font-size: 14px;
    color: #A4A4A4;
    display: flex;
    align-items: center;
    justify-content:center;
}

@media (min-width: 1000px) {
    .Footer {
        height: 350px;
        max-width: 1350px;
        padding: 17px 75px 0 75px;
        margin: 0 auto;
    
        color: #d1d5db;
        font-size: 16px;
        display: flex;
    }
    
    .FooterLeft {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 500px;
    }
    
    .FooterLogoName {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 39px;
    }
    
    .FooterLogoImage {
        width: 80px;
    }
    
    .SnapcycleTitle {
        font-size: 32px;
        color: white;
        margin-left: 20px;
    }
    
    .ProjectSlogan {
        font-size: 20px;
        color: #A4A4A4;
        margin-bottom: 30px;
    }
    
    .SocialMedia {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
    }
    
    .SocialMediaLogo {
        width: 30px;
        transition: filter 0.4s;
    }
    .SocialMediaLogo:hover {
        cursor: pointer;
        filter: brightness(0) invert(1);
        transition: filter 0.4s;
    }
    
    .FooterInfo {
        margin-top: 30px;
        flex: 1;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: white;
        text-align: left;
    }

    .ProductContainer {
        width: 90px;
    }
    
    .FooterColumnTitle {
        margin-bottom: 65px;
    }
    
    .FooterItem {
        color: #A4A4A4;
        margin-bottom: 20px;
        transition: padding-left 0.5s, color 0.5s;
        font-size: 16px;
    }
    .FooterItem:hover {
        cursor: pointer;
        color: white;
        padding-left: 15px;
        transition: padding-left 0.5s, color 0.5s;
    }
}

@media (max-width: 1000px) {

}