
.slider-container{
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.slider-overlay {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background: pink;
    top: 35%;
    left: 35px;
    z-index: 7;

}

.slider-title {
    font-size: 50px;
    font-weight: 600;
}

.slider-subtitle {
    font-size: 20px;
    font-weight: 400;
}
