
.slider-container{
    position: relative;
    height: 100%;
    width: 100%;
}

.slider-title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 50%;
    top: 40%;
    left: 15px;
    z-index: 7;

    font-size: 50px;
}