
.slider-container {
    position: relative;
    margin-top: 70px;
    width: 100%;
    min-height: 100vh;
    pointer-events: none;
}

.slider-image {

}

.slider-overlay {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    z-index: 7;
    clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
    width: 65%;
    height: 100%;
    padding: 50px;
}

.slider-title {
    font-size: 50px;
    font-weight: 600;
}

.slider-subtitle {
    font-size: 20px;
    font-weight: 400;
}


/*media query for mobile devices*/

@media screen and (max-width: 768px) {
    .slider-overlay {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .slider-title {
        font-size: 30px;
    }
    .slider-subtitle {
        font-size: 15px;
    }
}