.StatisticSubText {
    font-size: 18px;
    color: #434343;
    margin-top: 5px;
}

@media (min-width: 1151px) {
    .StatisticsContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    .Statistic {
        max-width: 240px;
    }
    
    #StatisticThree {
        max-width: 170px;
    }
}

@media (max-width: 1150px) {
    .StatisticsContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .Statistic {
        margin-top: 30px;
        flex-basis: 400px;
    }

    #StatisticThree {
        max-width: 170px;
    }
}