.StatisticsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Statistic {
    max-width: 240px;
}

#StatisticThree {
    max-width: 170px;
}

.StatisticSubText {
    font-size: 18px;
    color: #434343;
    margin-top: 5px;
}