
.Item {
    border-radius: 20px;
    margin: 8px;
    height: 170px;
    width: 170px;
    font-size: 16px;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;
}
.Item:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}

.ItemRow {
    display: flex;
}

@media (max-width: 750px) {
    .Item {
        width: 22.668vw;
        height: 22.668vw;
        margin: 1.067vw;
    }
}
