html, body {
    margin: 0;
    padding: 0;
}

/* Loading Transition */

/* body.loading video {
    filter: grayscale(1) brightness(0.25);
}
body.loading:before {
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    content: "Loading Model...";
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 3em;
    font-weight: bold;
    z-index: 100;
}
body video {
    transition: filter 250ms linear;
} */

canvas {
    width: 100%;
    height: 100%;
}

video {
    height: 90vh;
}
