.DemoPanel, .HowPanelContainer, .TroublePanel {
    display: flex;
    flex-direction: column;

    text-align: left;

    padding: 50px 75px 50px 75px;
    margin: 0 auto;
    max-width: 1350px;
}

.DemoPanel {
    padding-top: 125px;
}

#DemoPanelTitle {
    font-size: 40px;
    max-width: 400px;
}

#DemoPanelSubText {
    font-size: 20px;
    max-width: 500px;
}

.TitleDivider {
    height: 8px;
    width: 250px;
    margin-top: 15px;

    background-color: rgb(254, 145, 16);
}

.CameraPanel {
    margin-top: 50px;
    height: 500px;

    position: relative;
}

.CameraBackground {
    position: absolute;
    flex: -1;
}

.CameraButtonContainer {
    flex: 1;
}

.HowPanel {
    background-color: rgb(246, 246, 246);
}

@media (max-width: 1000px) {
    .DemoPanel, .HowPanel, .TroublePanel {
        padding-left: 25px;
        padding-right: 25px;
    }
}