.DemoPanel, .HowPanelContainer, .TroublePanel {
    display: flex;
    flex-direction: column;

    text-align: left;

    padding: 50px 75px 50px 75px;
    margin: 0 auto;
    max-width: 1350px;
}

.DemoPanel {
    padding-top: 125px;
}

#DemoPanelTitle {
    font-size: 40px;
    max-width: 400px;
}

#DemoPanelSubText {
    font-size: 20px;
    max-width: 500px;
}

.TitleDivider {
    height: 8px;
    width: 250px;
    margin-top: 15px;

    background-color: rgb(254, 145, 16);
}

.CameraPanel {
    height: 600px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.CameraBackgroundContainer {
    display: flex;
    justify-content: center;

    position: absolute;
    z-index: -1;
    top: 0;
    width: 1440px;
}

.CameraBackground {
    height: 600px;
    width: 1440px;
}

.HowPanel {
    background-color: rgb(246, 246, 246);
}

#TroublePanelTitle {
    max-width: 350px;
}

#TroublePanelSubText {
    max-width: 675px;
}

.TroublePanelBulletContainer {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #434343;
}

.TroublePanelBullet {
    max-width: 600px;
}

.TroublePanelButton {
    display: flex;
}

@media (max-width: 1000px) {
    .DemoPanel, .HowPanelContainer, .TroublePanel {
        padding-left: 25px;
        padding-right: 25px;
    }

    .TroublePanelBullet {
        margin-top: 5px;
    }
}