

.result-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.result-title {

}

.result-h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.result-page-background {
    height: 590px;
    width: 1280px;
    margin-top: 70px;
}

.result-disposal-methods {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    margin-top: 40px;
    margin-left: 73px;
    margin-right: 73px;
}

.disposal-process {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.disposal-process-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #F3F3F3;
    border-radius: 40px;
    width: 278px;
    height: 402px;
    padding-bottom: 20px;
}

.material-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.material-info-content {
    display: flex;
    max-width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: start;
    justify-content: space-between;
}

.material-info-p {
    width: 592px;
    height: 294px;
    flex-shrink: 0;
    color: #434343;
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.material-info-image {
    max-width: 506px;
    flex-shrink: 0;
}

.disposal-method-text {
    font-size: 25px;
}