.team-landing-panel {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-members-container{
    background: lightblue;
}

.team-member{

}

.team-member-image{
    font-size: 1vmax;
}

.team-member-name{

}

.team-member-role{

}

.team-member-bio{

}

.team-member-contact-container{

}

.team-member-contact-container{

}

.team-member-link-container{

}

.team-member-link-item{

}

.team-member-info-container{

}

.team-member-info-item{

}
