@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.App {
  font-family: Inter, serif;
  font-size: 15vmin;
  color: black;
  text-align: center;
  overflow-x: hidden; 
}

p{
  font-size: 5vmin;
}

title{
  font-size: 30vmin;
}

h1{
  font-size: 20vmin;
}

