@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
    --font-size-1: 0.5vmax;
    --font-size-2: 1vmax;
    --font-size-3: 1.5vmax;
    --font-size-4: 3vmax;
    --font-size-5: 5vmax;

    --color-2: #000000;
    --color-1: #FFFFFF;
    --color-3: #A4A4A4;
    --color-accent: #207520FF;

    --padding-1: 0.5vmax;
    --padding-2: 1vmax;
    --padding-bottom-big: 8vmax;
}

.App {
  font-family: Inter, serif;
  font-size: 15vmin;
  color: black;
  text-align: center;
  overflow-x: hidden; 
}

p{
  font-size: 5vmin;
}

h1{
  font-size: 20vmin;
}

h2{
  font-size: 10vmin;
}

img{
  font-size: 16px;
}