.active {
    color: white;
}

.footer {
    background: #222021;
    height: 65vh;
    color: #d1d5db;
    padding: 7.5vmax;
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: relative;
}

.col-title {
    color: white;
    font-size: 2vmax;
}

.col {
    flex: 1;
}

.col-item {
    font-size: 1vmax;
    transition: ease-in-out 0.1s;
}

.col-item:hover {
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}