.active {
    color: #0096FF;
}

.footer {
    background: #222021;
    height: 65vh;
    color: #d1d5db;
    padding: 7.5vmax;
    display: flex;
    text-align: left;
    flex-direction: row;
    position: relative;
}

.footer-left {
    width: 50%;
}

.footer-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: relative;
}

.col-title {
    color: white;
    font-size: 1.5vmax;
}

.col {
    flex: 1;
}

.col-item-container {
    width: 100%;
}

.col-item {
    font-size: 1vmax;
    transition: ease-in-out 0.1s;
    width: min-content;
}

.col-item:hover {
    color: #0096FF;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.vertical-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 3vmax;
    color: white;
}