.HomePanelLanding {
    height: 600px;
    display: flex;
}

.HomePanelLandingBackground {
    width: 1500px;
}

.Title {
    font-size: 36px;
    font-weight: 700;
}

.SubText {
    font-size: 18px;
    color: #434343;
    margin-top: 20px;
    margin-bottom: 20px;
}

.PanelOne {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-top: 50px;
}

.ItemCategories {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-right: -100px;
    align-items: center;
    vertical-align: middle;
}

.Item {
    border-radius: 20px;
    margin: 8px;
    height: 170px;
    width: 170px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.Item:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}

.ItemRow {
    display: flex;
}

.PanelTwo {
    display: flex;
    height: 500px;
    text-align: left;
}

.PanelTwoText {
    margin-left: 75px;
    margin-right: 75px;
}

.PanelThree {
    display: flex;
    height: 500px;
    text-align: right;
}

.PanelThreeImage {
    width: 800px;
}

.PanelThreeText {
    margin-left: 75px;
    margin-right: 75px;
}

.PanelThreeButton {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.PanelFour {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 75px;
    margin-right: 75px;
    height: 500px;
}

.StatisticsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.StatisticSubText {
    font-size: 18px;
    color: #434343;
    margin-top: 5px;
}







.panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background: palegoldenrod;
    border: black 1px solid;
}