.HomePanelLanding {
    height: 600px;
    display: flex;
}

.Title {
    font-size: 36px;
    font-weight: 700;
}

.PanelOne {
    display: flex;
    flex-direction: column;
    height: 600px;
}

#PanelOneTitle {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ItemCategories {
    display: flex;
    flex-direction: column;
    margin-left: -25px;
    margin-right: -25px;
    align-items: center;
    vertical-align: middle;
}

.Item {
    border-radius: 20px;
    margin: 5px;
    height: 150px;
    width: 150px;
    transition: all 0.3s;
}
.Item:hover {
    cursor: pointer;
}

.ItemRow {
    display: flex;
}








.panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background: palegoldenrod;
    border: black 1px solid;
}