.HomePanelLanding {
    height: 600px;
    display: flex;
}

.HomePanelLandingBackground {
    width: 100%;
}

.Title {
    font-size: 36px;
    font-weight: 700;
}

.SubText {
    font-size: 18px;
    color: #434343;
    margin-top: 20px;
    margin-bottom: 20px;
}

.PanelOne {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-top: 50px;
}

.ItemCategories {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-right: -100px;
    align-items: center;
    vertical-align: middle;
}

.Item {
    border-radius: 20px;
    margin: 8px;
    height: 170px;
    width: 170px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.Item:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}

.ItemRow {
    display: flex;
}

.PanelTwo {
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    text-align: left;
}

.PanelTwoText {
    margin-left: 75px;
    max-width: 500px;
}

.PanelTwoButton {
    display: flex;
}

.PanelTwoImages {
    position: relative;
    margin-right: -125px;
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    font-size: 16px;
}

.PanelTwoPhone {
    height: 500px;
}

.PanelTwoLaptop {
    height: 300px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 450px;
}

.PanelThree {
    height: 500px;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    text-align: right;
}

.PanelThreeImage {
    width: 800px;
}

.PanelThreeText {
    margin-left: 75px;
    margin-right: 75px;
}

.PanelThreeButton {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.PanelFour {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 75px;
    padding-right: 75px;
    height: 475px;

    margin: 0 auto;
    max-width: 1350px;
}

.StatisticsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.StatisticSubText {
    font-size: 18px;
    color: #434343;
    margin-top: 5px;
}

.PanelFive {
    height: 750px;
}

.PanelFiveButton {
    display: flex;
    justify-content: center;
}

#PanelFiveText {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}