@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.NavBar {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 700;

    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    transition: all 0.3s;
}
#NavBarDissapear {
    visibility: hidden;
    opacity: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#NavBarPartial {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.5);
}
#NavBarSolid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.NavBarLogoAndName {
    display: flex;
    align-items: center;
}

.NavBarLogo {
    height: 50px;
    margin-right: 15px;
}

.NavBarTitle {
    height: 25px;
}

.NavBarPages {
    display: flex;
    gap: 40px;
    margin-right: 50px;
}

.NavBarPagesActive{
    color: black;
    transition: color 0.2s ease-in-out;
}
.NavBarPagesActive:hover {
    cursor: pointer;
}

.NavBarPagesInactive{
    color: #666666;
    transition: color 0.2s ease-in-out;
}
.NavBarPagesInactive:hover{
    cursor: pointer;
    color: black;
    transition: color 0.2s ease-in-out;
}

.ButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 145px;
}

@media (min-width: 1000.01px) {
    .HamburgerMenu {
        display: none;
    }
}
@media (max-width: 1000px) {
    .NavBar {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .NavBarPages {
        display: none;
    }

    .ButtonContainer {
        width: 190px;
    }

    .HamburgerMenu {
        height: 40px;
    }
    .HamburgerMenu:hover {
        cursor: pointer;
    }
}