@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.NavBar {
    position: fixed;
    left: 0;
    right: 0;
    font-family: Inter, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px 0 30px;

}

.NavBarLogoAndName {
    display: flex;
    align-items: center;
}

.NavBarLogo {
    height: 60px;
    margin-right: 15px;
}

.NavBarTitle {
    height: 30px;
}

.NavBarPages {
    display: flex;
    gap: 40px;
    margin-right: 100px;
    font-weight: bold;
    font-size: 20px;
}

.NavbarPagesInactive{
    color: black;
    transition: color 0.1s ease-in-out;
}

.NavbarPagesInactive:hover{
    cursor: pointer;
    color: #0096FF;
    transition: color 0.1s ease-in-out;
}

.NavbarPagesActive{
    color: #0096FF;
    transition: color 0.1s ease-in-out;
}

.NavBarButton {
    border: solid;
    border-radius: 50px;
    border-width: 1px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}