@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.NavBar {
    position: fixed;
    left: 0;
    right: 0;
    font-family: Inter, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px 0 50px;
    font-size: 20px;
    font-weight: 700;
}

.NavBarLogoAndName {
    display: flex;
    align-items: center;
}

.NavBarLogo {
    height: 60px;
    margin-right: 15px;
}

.NavBarTitle {
    height: 30px;
}

.NavBarPages {
    display: flex;
    gap: 40px;
    margin-right: 100px;
}

.NavbarPagesActive{
    color: black;
    transition: color 0.2s ease-in-out;
}

.NavbarPagesInactive{
    color: #666666;
    transition: color 0.2s ease-in-out;
}

.NavbarPagesInactive:hover{
    cursor: pointer;
    color: black;
    transition: color 0.2s ease-in-out;
}

.NavbarPagesActive:hover {
    cursor: pointer;
}

.NavBarButton {
    border: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    display: flex;
    transition: all .3s ease;
    cursor: pointer;
    align-items: center;
}

.NavBarButton > .arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.NavBarButton > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.NavBarButton:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.NavBarButton:hover > .arrow::before {
    opacity: 1;
    width: 12px;
}