.MainFooter {
    height: 380px;
    background: #1B1818;
    color: #d1d5db;
    padding: 17px 0px 0px 35px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FooterLeft {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 341px;
}

.FooterLogoName {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 39px;
}

.FooterLogoImage {
    width: 80px;
}

.SnapcycleTitle {
    font-size: 32px;
    color: white;
    margin-left: 20px;
}

.ProjectSlogan {
    font-size: 24px;
    color: #A4A4A4;
    margin-bottom: 30px;
}

.BottomFooter {
    height: 70px;
    background: #252222;
    font-size: 14px;
    color: #A4A4A4;
    display: flex;
    align-items:center;
    justify-content:center;
}

.SocialMedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.SocialMediaLogo {
    width: 30px;
}