.team-landing-panel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-members-container{
    height: 100vh;
    background: lightblue;
}

.team-member-name{

}

.team-member-role{

}

.team-member-link{

}

.team-member-image{
    font-size: 1vmax;
}

