.HamburgerMenuContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;

    background-color: #1B1818;
    overflow: hidden;

    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
#HamburgerMenuActive {
    height: 100%;
}
#HamburgerMenuInactive {
    height: 0%;
}

.HamburgerMenu {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.BurgerTopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BurgerLogoAndName {
    display: flex;
    align-items: center;
}

.WhiteX {
    width: 50px;
    border-radius: 50%;
}
.WhiteX:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}