.HamburgerMenuContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background-color: #1B1818;

    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
#HamburgerMenuActive {
    height: 100%;
    overflow-y: auto;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
#HamburgerMenuInactive {
    height: 0%;
    overflow-y: hidden;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.HamburgerMenu {
    margin: 30px 40px 65px 50px;
}

.BurgerTopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BurgerLogoAndName {
    display: flex;
    align-items: center;
}

.WhiteX {
    width: 55px;
    padding: 15px;

    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0% 0%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));

    transition: background-size .15s;
}
.WhiteX:hover {
    cursor: pointer;
    background-size: 100% 100%;
}

.HamburgerPages {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.HamburgerPage {
    font-size: 36px;
    font-weight: 600;
    color: #A4A4A4;
    text-align: left;
    margin: 10px 0;
    width: fit-content;

    transition: padding-left 0.5s, color 0.5s;
}
.HamburgerPage:hover {
    color: white;
    padding-left: 20px;
    cursor: pointer;
}