.PanelThree {
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 100px;

    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
}

.PanelThreePlaceholder {
    max-height: 500px;
    margin-left: 75px;
}

.PanelThreeText {
    max-width: 370px;
    margin-right: 75px;
}

.PanelThreeButton {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}