@import '../App.css';

.PanelOne {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(246, 246, 246);
}

#PanelOneTitle {
    max-width: 520px;
    padding-left: 75px;
    padding-right: 75px;
    margin: 0 auto;
}

.RevolvingWordsContainer {
    display: inline-block;
    padding-left: 12px;

    color: var(--color-accent);

    height: 44px;
    line-height: 1.1;
    vertical-align: bottom;
    overflow-y: hidden;

    user-select: none;
    cursor:text;
}
.RevolvingWord {
    display: block;
    white-space: pre;
    text-align: left;
    animation: animateWords 15s infinite ease;
}
@keyframes animateWords {
    0% {
        transform: translateY(0);
    }
    12.5%, 25% {
        transform: translateY(-40px);
    }
    37.5%, 50% {
        transform: translateY(-79.5px);
    }
    62.5%, 75% {
        transform: translateY(-119px);
    }
    87.5%, 100% {
        transform: translateY(-158px);
    }
}

.ItemCategories {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-right: -100px;
    align-items: center;
    vertical-align: middle;
}

@media (max-width: 1000px) {
    #PanelOneTitle {
        max-width: 420px;
        padding-left: 25px;
        padding-right: 25px;
    }
}