.HomePanelLanding {
    height: 100vh;
    display: flex;
    background-color: black;
    transform: scaleX(-1);
}

.landing-background-image{
    width: 100vw;
    height: 100vh;
    transform: scaleX(-1);
}

.overlay {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    z-index: 5;

    border-right: white 4px solid;
    background: rgba(255,255,255,0.75);

    transform: skew(-30deg) translateX(-50%);
    filter: blur(0px);
    backdrop-filter: blur(5px);
}

.panel-home-title {
    display: flex;
    flex-direction: column;

    filter: none;
    transform: scaleX(-1);
}

.HomepageContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    left: 75px;
    z-index: 5;
    max-width: 490px;
}

.HomepageTitle {
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
}

.HomepageButton {
    display: flex;
}

.LearnMore {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
}
.LearnMore:hover {
    cursor: pointer;
}
.Words:hover {
    text-decoration: underline;
}