.PanelFour {
    display: flex;
    flex-direction: column;
    text-align: left;

    padding: 75px 75px;
    margin: 0 auto;
    max-width: 1350px;
}

#PanelFourTitle {
    max-width: 415px;
}

#PanelFourSubText {
    max-width: 400px;
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .PanelFour {
        padding-left: 25px;
        padding-right: 25px;
    }
}
