.PanelLanding {
    position: relative;
    height: 100vh;
    width: 4000px;
}

.PanelLandingBackground {
    position: absolute;
    height: 100%;
    overflow-x: hidden;
    z-index: -1;
}

.HomepageContent {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    margin-left: 75px;
}

.HomepageTitle {
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
    max-width: 500px;
}

.HomepageButton {
    display: flex;
}

.LearnMore {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
}
.LearnMore:hover {
    cursor: pointer;
}
.Words:hover {
    text-decoration: underline;
}