.PanelFive {
    padding-left: 75px;
    padding-right: 75px;
    max-width: 1350px;
    margin: 0 auto;
}

#PanelFiveTitle {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
}

#PanelFiveText {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}

.PanelFiveButton {
    display: flex;
    justify-content: center;
}

@media (min-width: 1000px) {
.TurtleContainer {
    display: grid;
    grid-template-columns: 1fr 200px 1.2fr;
    align-items: end;
    margin-top: -75px;
    margin-bottom: 100px;
}

.TurtleLeft, .TurtleRight {
    max-width: 100%;
    height: auto;
}
}

@media (max-width: 1000px) {
    .PanelFive {
        padding-left: 25px;
        padding-right: 25px;
    }

    .TurtleContainer {
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .TurtleLeft {
        display: none;
    }
}