.HomePanelLanding {
    height: 100vh;
    display: flex;
    background-image: url(../../assets/Home/RecyclingBackground.jpg);
    background-size: cover;
}

.HomePanelLandingBackground {
    width: 100%;
}