.PanelFive {
    padding: 50px 75px;
    max-width: 1350px;
    margin: 0 auto;
    background-color: rgb(246, 246, 246);
}

#PanelFiveTitle {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
}

#PanelFiveText {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}

.PanelFiveButtonContainer {
    display: flex;
    justify-content: center;
}

.PanelFiveButton {
    display: flex;
    width: 155px;
    margin-left: 15px;
}

@media (min-width: 1000px) {
.TurtleContainer {
    display: grid;
    grid-template-columns: 1fr 200px 1.2fr;
    align-items: end;
    margin-top: -75px;
    margin-bottom: 100px;
}

.TurtleLeft, .TurtleRight {
    max-width: 100%;
    height: auto;
}
}

@media (max-width: 1000px) {
    .PanelFive {
        padding-left: 25px;
        padding-right: 25px;
    }

    .TurtleContainer {
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .TurtleLeft {
        display: none;
    }
}