.PanelFive {
    height: 750px;
    margin-left: 75px;
    margin-right: 75px;
}

#PanelFiveTitle {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
}

#PanelFiveText {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}

.PanelFiveButton {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .PanelFive {
        margin-left: 25px;
        margin-right: 25px;
    }
}