.PanelLanding {
    position: relative;
}

.PanelLandingBackgroundContainer {
    position: absolute;
    z-index: -1;

    height: 100vh;
    width: max-content;
}

.PanelLandingBackground {
    height: 100%;
}

.HomepageContent {
    display: flex;
    flex-direction: column;

    width: fit-content;
    padding-top: 200px;
    margin-left: 75px;
    margin-bottom: 200px;
}

.HomepageTitle {
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
    max-width: 500px;
}

.HomepageButton {
    display: flex;
}

.LearnMore {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
}
.LearnMore:hover {
    cursor: pointer;
}
.Words:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .HomepageContent {
        margin-left: 25px;
    }
}