@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.App {
  font-family: Inter;
  font-size: 15vmin;
  color: black;
  text-align: center;
  overflow-x: hidden; 
}

.AppContent{
  font-family: Inter;
  font-size: 10vmin;
  color: black;
  text-align: center;
  overflow-x: hidden; 
}

.AppHeader{
  font-family: Inter;
  width: 100vw;
  font-size: 20vmin;
  color: black;
  text-align: center;
  overflow-x: hidden; 
}
